h1{
    font-size: 35px;
    justify-content: center;
    text-align: center;
  
  }
  h2{
    font-size: 15px;
    justify-content: center;
    text-align: center;
  }
  h3{
    font-size: 25px;
    justify-content: center;
    text-align: center;
  }